


// General
p {
    margin-bottom: 0 !important;
}


body {
    font-family: 'Roboto', sans-serif;
}




//card
.car-title{
    font-weight:bolder;
}

// input range
.price__range {
    font-size: small;
    font-weight: 500;
}

.copyright,
.credit {
    font-size: small;
    inline-size: auto;
}